.landing-content {
  position: absolute;
  top: 46%;
  left: 55%;
  width: fit-content;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: inherit;
  color: white;
  z-index: 2;
}

.landing-page {
  background-color: #000000;
  font-family: inherit;
}

.av-logo {
  width: 100%;
  height: auto;
}

.wrapper {
  text-align: center;
  font-family: inherit;
}

:root {
  --glow-hue: 222deg;
  --shadow-hue: 180deg;
  --spring-easing: linear(0, 0.002, 0.01 0.9%, 0.038 1.8%, 0.156, 0.312 5.8%, 0.789 11.1%, 1.015 14.2%,
      1.096, 1.157, 1.199, 1.224 20.3%, 1.231, 1.231, 1.226, 1.214 24.6%,
      1.176 26.9%, 1.057 32.6%, 1.007 35.5%, 0.984, 0.968, 0.956, 0.949 42%,
      0.946 44.1%, 0.95 46.5%, 0.998 57.2%, 1.007, 1.011 63.3%, 1.012 68.3%,
      0.998 84%, 1);
  --spring-duration: 1.33s;
}

@property --shimmer {
  syntax: "<angle>";
  inherits: false;
  initial-value: 33deg;
}

@keyframes shimmer {
  0% {
    --shimmer: 0deg;
  }

  100% {
    --shimmer: 360deg;
  }
}

@keyframes shine {
  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  55% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes text {
  0% {
    background-position: 100% center;
  }

  100% {
    background-position: -100% center;
  }
}

.message-log-button {
  position: fixed;
  color: #ffffff;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: grab;
  z-index: 9999;
}

.message-log-button:hover {
  color: #666666;
  text-shadow: 3px 3px 30px #dddbcd;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.message-log-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #161616f7;
  z-index: 9998;
  overflow-y: auto;
}

.message-log-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #cba7d454;
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
  overflow: auto;
}

.message-log-text h2 {
  text-align: center;
  margin-block-start: 0.5em;
}

.close-messageLog {
  position: absolute;
  top: 10px;
  right: 13px;
  cursor: pointer;
}

.close-messageLog:hover {
  color: #666666;
  text-shadow: 3px 3px 30px #dddbcd;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.footnote {
  font-style: italic;
  font-size: smaller;
  margin-top: 10px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

ul {
  text-align: left;
  padding-left: 20px;
}

li {
  padding-bottom: 20px;
  display: inline-block;
}

.material-icons {
  color: #efeff3e5;
  vertical-align: middle;
}

#userName {
  color: #ffffffe3;
  font-family: 'Livvic', Verdana, sans-serif;
  font-style: italic;
  display: inline-block;
  text-align: center;
  background-color: #929292d1;
  padding: .9em 1.8em;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  transition: all .1s linear;
}

#userName:hover {
  background-color: #ffffff4d;
}

#userName.active {
  width: 200px;
  color: #efaa9d;
  text-align: left;
  cursor: inherit;
}

#userName::placeholder {
  color: #ccc;
  font-family: 'Livvic', Verdana, sans-serif;
  font-style: italic;
}

#spaceshipName {
  color: #ffffffe3;
  font-family: 'Livvic', Verdana, sans-serif;
  font-style: italic;
  display: inline-block;
  text-align: center;
  background-color: #929292d1;
  padding: .9em 1.8em;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  transition: all .1s linear;
}

#spaceshipName:hover {
  background-color: #ffffff4d;
}

#spaceshipName.active {
  width: 200px;
  color: #efaa9d;
  text-align: left;
  cursor: inherit;
}

#spaceshipName::placeholder {
  color: #ccc;
  font-family: 'Livvic', Verdana, sans-serif;
  font-style: italic;
}

.placeholder {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

button {
  background-color: rgba(255, 255, 255, 0.3);
  transition: background-color 0.3s ease;
  padding: .8em 1.4em;
  position: relative;
  isolation: isolate;
  box-shadow: 0 2px 3px 1px hsl(var(--glow-hue) 50% 20% / 50%), inset 0 -10px 20px -10px hsla(var(--shadow-hue), 10%, 90%, 95%);
  border-radius: 0.66em;
  scale: 1;
  transition: all var(--spring-duration) var(--spring-easing);
  position: relative;
  overflow: hidden;
}

button:hover:not(:active),
button.active {
  transition-duration: calc(var(--spring-duration)*0.5);
  scale: 1.2;
  box-shadow: 0 4px 8px -2px hsl(var(--glow-hue) 50% 20% / 50%), inset 0 0 0 transparent;
}

button:active {
  scale: 1.1;
  transition-duration: calc(var(--spring-duration)*0.5);
}

.shimmer {
  position: absolute;
  inset: -40px;
  border-radius: inherit;
  mask-image: conic-gradient(from var(--shimmer, 0deg),
      transparent 0%,
      transparent 10%,
      black 36%,
      black 45%,
      transparent 50%,
      transparent 60%,
      black 85%,
      black 95%,
      transparent 100%);
  mask-size: cover;
  mix-blend-mode: plus-lighter;
  animation: shimmer 1s linear infinite both;
}

button:hover .shimmer::before,
button:hover .shimmer::after,
button.active .shimmer::before,
button.active .shimmer::after {
  opacity: 1;
  animation: shine 1.2s ease-in 1 forwards;
}

.shimmer::before,
.shimmer::after {
  transition: all 0.5s ease;
  opacity: 0;
  content: "";
  border-radius: inherit;
  position: absolute;
  mix-blend-mode: color;
  inset: 40px;
  pointer-events: none;
}

.shimmer::before {
  box-shadow: 0 0 3px 2px hsl(var(--glow-hue) 20% 95%),
    0 0 7px 4px hsl(var(--glow-hue) 20% 80%),
    0 0 13px 4px hsl(var(--glow-hue) 50% 70%),
    0 0 25px 5px hsl(var(--glow-hue) 100% 70%);
  z-index: -1;
}

.shimmer::after {
  box-shadow: inset 0 0 0 1px hsl(var(--glow-hue) 70% 95%),
    inset 0 0 2px 1px hsl(var(--glow-hue) 100% 80%),
    inset 0 0 5px 2px hsl(var(--glow-hue) 100% 70%);
  z-index: 2;
}

.custom-input {
  font-family: 'Livvic', Verdana, sans-serif;
}

button .text {
  color: #ccc;
  font-family: 'Livvic', Verdana, sans-serif;
  font-style: bold;
  background-clip: text;
  background-color: var(--bg);
  background-image: linear-gradient(120deg, transparent, hsla(var(--glow-hue), 100%, 80%, 0.66) 40%, hsla(var(--glow-hue), 100%, 90%, .9) 50%, transparent 52%);
  background-repeat: no-repeat;
  background-size: 300% 300%;
  background-position: center 200%;
}

button:hover .text,
button.active .text {
  animation: text .66s ease-in 1 both;
}

.landing-content h1,
.landing-content p {
  padding: 10px 20px;
  font-size: 16px;
}

#root {
  width: 100vh;
  height: 100vh;
  position: absolute;
  overflow: hidden;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.layer-1 {
  transform-origin: 66% 40%;
  background:
    repeating-conic-gradient(from 0deg at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 248, 176, 0.46) 3.96%, rgba(69, 168, 255, 0) 8.33%, rgba(69, 168, 255, 0) 8.33%) 69.5% 37.7% / 17.2% 17.2% no-repeat,
    radial-gradient(ellipse at 50% 50%, rgba(255, 248, 176, 1) 0%, rgba(69, 168, 255, 0) 47.22%) 74.1% 35.6% / 33.6% 36.6% no-repeat;
  animation: rotate 30s linear infinite;
  /* Applied the rotate animation to all layers */
}

.layer-2 {
  transform-origin: 66% 40%;
  background:
    radial-gradient(ellipse at 50% 50%, rgba(69, 168, 255, 0) 20%, #000000 29%) 77.4% 33.8% / 40% 40% no-repeat,
    repeating-conic-gradient(from 15deg at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 248, 176, 0.51) 2.64%, rgba(69, 168, 255, 0) 5.56%, rgba(69, 168, 255, 0) 5.56%) 69.5% 37.7% / 17.2% 17.2% no-repeat;
  animation: rotate 30s linear infinite;
  /* Applied the rotate animation to all layers */
}

.layer-3 {
  background:
    repeating-conic-gradient(from 355deg at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 198, 69, 0.26) 8.1%, rgba(69, 168, 255, 0) 16.67%, rgba(69, 168, 255, 0) 16.67%) 0 0 / 100% 100% no-repeat;
  animation: rotate 30s linear infinite;
  /* Applied the rotate animation to all layers */
}

.layer-4 {
  background:
    repeating-conic-gradient(from 355deg at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 198, 69, 0.26) 2.86%, rgba(69, 168, 255, 0) 5.88%, rgba(69, 168, 255, 0) 5.88%) 0% 0% / 100% 100% no-repeat;
  animation: rotate 30s linear infinite;
  /* Applied the rotate animation to all layers */
}

.layer-5 {
  background:
    repeating-conic-gradient(from 0deg at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 198, 69, 0.26) 6.62%, rgba(69, 168, 255, 0) 7.69%, rgba(69, 168, 255, 0) 7.69%) 0% 0% / 100% 100% no-repeat;
  animation: rotate 30s linear infinite;
  /* Applied the rotate animation to all layers */
}

.layer-6 {
  background:
    radial-gradient(ellipse at 50% 50%, rgba(255, 248, 176, 0.27) 0%, rgba(69, 168, 255, 0) 63.54%) 67% 39.3% / 10% 10% no-repeat,
    radial-gradient(ellipse at 50% 50%, rgba(69, 168, 255, 0) 40.28%, rgba(255, 183, 163, 0.05) 52.43%, rgba(69, 168, 255, 0) 63.54%) 68% 38.6% / 15% 15% no-repeat,
    radial-gradient(ellipse at 50% 50%, rgba(255, 248, 176, 0.55) 0%, rgba(69, 168, 255, 0) 63.54%) 66.9% 39.3% / 5% 5% no-repeat,
    radial-gradient(ellipse at 50% 50%, rgba(255, 248, 176, 0.2) 0%, rgba(69, 168, 255, 0) 66.67%) 70.7% 36.5% / 30% 30% no-repeat,
    radial-gradient(ellipse at 50% 50%, #09090b 26%, rgba(69, 168, 255, 0) 26.4%) 0% 0% / 100% 100% no-repeat,
    radial-gradient(ellipse at 50% 50%, rgba(255, 212, 148, 0.04) 0%, rgba(69, 168, 255, 0) 69.79%) 0% 0% / 100% 100% no-repeat,
    radial-gradient(ellipse at 50% 50%, rgba(255, 240, 148, 0.11) 0%, rgba(69, 168, 255, 0) 52.43%) 0% 0% / 100% 100% no-repeat,
    radial-gradient(ellipse at 51% 49%, rgba(69, 168, 255, 0) 23.96%, #000000 40.63%) 0% 0% / 100% 100% no-repeat,
    repeating-conic-gradient(from 0deg at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 239, 69, 0.14) 11.04%, rgba(69, 168, 255, 0) 20%, rgba(69, 168, 255, 0) 20%) 0% 0% / 100% 100% no-repeat,
    radial-gradient(ellipse at 52% 48%, rgba(69, 168, 255, 0) 23.96%, #09090b 34.03%) 0% 0% / 100% 100% no-repeat,
    radial-gradient(ellipse at 50% 50%, rgba(255, 185, 147, 0.29) 28%, rgba(69, 168, 255, 0) 30%) 0% 0% / 100% 100% no-repeat;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

body {
  height: auto;
  background-color: black;
  margin: 0;
  padding: 0;
  color: white;
  overflow-y: scroll;
  font-family: 'Livvic', Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  visibility: visible;
  letter-spacing: 0.95px;
  word-spacing: 0.45px;
}

body.font-loaded {
  letter-spacing: 0px;
  word-spacing: 0px
}

/* Starfield */
canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

/* Starfield */

.container {
  position: relative;
  width: 100%;
  height: auto;
}

.celestial-body {
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
  background-size: cover;
  background-position: center;
}

.container .model-poster:hover {
  cursor: grab !important;
}

.celestial-body .name {
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  color: white;
  font-size: 20px;
}

.distance-meter {
  display: none;
  position: fixed;
  left: 10px;
  top: calc(50% + 10px);
  width: fit-content;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
}

.fact-container {
  width: 600px;
  height: auto;
  display: none;
  flex-direction: column;
  position: fixed;
  left: 50%;
  right: 50%;
  top: calc(50% + 10px);
  transform: translate(-50%, -50%);
  background-color: rgba(128, 128, 128, 0.7);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  z-index: 1000;
  border: 2px solid rgba(225, 225, 225, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.model-viewer {
  max-width: 500px;
  /* Set a maximum width to prevent models from exceeding the container */
  max-height: 300px;
  /* Set a maximum height to prevent models from exceeding the container */
  margin: 0 auto;
  /* Center the model-viewer horizontally */
}

.fact-wrapper {
  padding: 15px;
  /* Add padding on all sides */
  width: auto;
  height: auto;
  position: relative;
  border-radius: 10px;
  /* Add border radius to round the corners */
  flex-direction: column;
  font-size: 15px;
  justify-content: space-evenly;
}

.left-arrow,
.right-arrow,
.arrow {
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  color: white;
  z-index: 1000;
  padding: 7px;
  top: 50%;
  transform: translateY(-50%);
}

.left-arrow {
  left: 2%;
}

.right-arrow {
  right: 2%;
}

.left-arrow:hover,
.right-arrow:hover {
  color: #808080;
  text-shadow: 3px 3px 30px #dddbcd;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  color: white;
  font-size: 20px;
  z-index: 1001;
}

.close-button:hover {
  color: #808080;
  text-shadow: 3px 3px 30px #dddbcd;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.fact-container .name {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bold;
}

.fact-container p {
  margin: 5px 0;
}

.marker-line {
  display: none;
  /* Initially hide the marker line */
  position: fixed;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: #ff000065;
  z-index: 5;
}

.astronaut {
  display: none;
  /* Initially hide the astronaut */
  position: fixed;
  width: 100px;
  height: 100px;
  cursor: pointer;
  z-index: 1000;
  left: 20px;
  top: calc(50% - 100px);
}

.astronaut-fact {
  position: fixed;
  width: auto;
  max-width: 200px;
  padding: 5px;
  color: gray;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  left: 220px;
  top: calc(50% - 155px);
  /* Position slightly above the center */
}

.astronaut-fact::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: -20px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent rgba(255, 255, 255, 0.9) transparent transparent;
  /* Arrow color */
  transform: rotate(-45deg);
  /* Rotate the arrow */
}

.close-icon {
  position: absolute;
  top: -2px;
  right: 5px;
  cursor: pointer;
  font-size: 20px;
  color: #999;
}

.close-icon:hover {
  color: #666666;
  text-shadow: 3px 3px 30px #dddbcd;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

.spaceship {
  animation: floating 3s infinite alternate;
  display: none;
  position: fixed;
  cursor: pointer;
  z-index: 1000;
  right: 20px;
  top: calc(50% - 194px);
}

.spaceship-message {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000e0;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid #cba7d454;
  box-shadow: 0 0 5px #e05ef1;
  z-index: 999;
}

.spaceship-message .missionControl {
  margin-top: 5px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: middle;
}

.spaceship-message .messageContent {
  text-align: center;
}

.spaceship-message .closeButtonMC {
  margin-top: 10px;
  background-color: #fff;
  color: #000;
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-style: italic;
  text-transform: uppercase;
  left: 50%;
  transform: translateX(-50%);
}

.spaceship-message .closeButtonMC:hover {
  background-color: #b98fe7bf;
  border: 1px solid #cba7d454;
  color: #fff;
}

.welco {
  position: fixed;
  width: auto;
  max-width: 360px;
  padding: 5px;
  color: #3c3434;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  left: 120px;
  top: calc(50% - 330px);
  /* Position slightly above the center */
}

.welco::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: -20px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent rgba(255, 255, 255, 0.9) transparent transparent;
  /* Arrow color */
  transform: rotate(-45deg);
  /* Rotate the arrow */
}

.welco-wrapper {
  padding: 15px;
  /* Add padding on all sides */
  width: auto;
  height: auto;
  position: relative;
  border-radius: 10px;
  /* Add border radius to round the corners */
  flex-direction: column;
  font-size: 15px;
  text-align: left;
  line-height: 1.5;
}

.close-iconWM {
  position: absolute;
  top: 0px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #999;
}

.close-iconWM:hover {
  color: #808080;
  text-shadow: 3px 3px 30px #dddbcd;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}