.landing-content {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 2;
}

.glass-btn {
  background-color: rgba(255, 255, 255, 0.3);
  /* Set initial background color with some transparency */
  transition: background-color 0.3s ease;
  /* Add a transition effect for smoother change */
  border: 0px solid #009688;
  /* Green border */
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 25px;
  font-size: 16px;
  color: white;
  position: relative;
  overflow: hidden;
}

.glass-btn:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300%;
  height: 300%;
  background: rgba(255, 255, 255, 0.2);
  /* Semi-transparent white */
  border-radius: 50%;
  z-index: 0;
  transition: all 0.3s ease;
}

.glass-btn:hover:before {
  width: 1000%;
  height: 1000%;
}

.glass-btn span {
  position: relative;
  z-index: 1;
}

@keyframes glitter {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.glass-btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
  /* Adjust the opacity as needed */
  color: black;
}

.glass-btn:hover::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 10%, transparent 70%);
  animation: glitter 1s linear infinite;
  /* Adjust the duration of the glitter effect as needed */
  z-index: -1;
  /* Place the glitter effect behind the button */
  pointer-events: none;
  /* Ensure the glitter overlay doesn't interfere with button clicks */
}

.landing-content h1,
.landing-content p {
  padding: 10px 20px;
  font-size: 16px;
}

#root {
  width: 100vh;
  height: 100vh;
  position: absolute;
  overflow: hidden;

}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.layer-1 {
  transform-origin: 66% 40%;
  background:
    repeating-conic-gradient(from 0deg at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 248, 176, 0.46) 3.96%, rgba(69, 168, 255, 0) 8.33%, rgba(69, 168, 255, 0) 8.33%) 69.5% 37.7% / 17.2% 17.2% no-repeat,
    radial-gradient(ellipse at 50% 50%, rgba(255, 248, 176, 1) 0%, rgba(69, 168, 255, 0) 47.22%) 74.1% 35.6% / 33.6% 36.6% no-repeat;
  animation: rotate 30s linear infinite;
  /* Applied the rotate animation to all layers */
}

.layer-2 {
  transform-origin: 66% 40%;
  background:
    radial-gradient(ellipse at 50% 50%, rgba(69, 168, 255, 0) 20%, #000000 29%) 77.4% 33.8% / 40% 40% no-repeat,
    repeating-conic-gradient(from 15deg at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 248, 176, 0.51) 2.64%, rgba(69, 168, 255, 0) 5.56%, rgba(69, 168, 255, 0) 5.56%) 69.5% 37.7% / 17.2% 17.2% no-repeat;
  animation: rotate 30s linear infinite;
  /* Applied the rotate animation to all layers */
}

.layer-3 {
  background:
    repeating-conic-gradient(from 355deg at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 198, 69, 0.26) 8.1%, rgba(69, 168, 255, 0) 16.67%, rgba(69, 168, 255, 0) 16.67%) 0 0 / 100% 100% no-repeat;
  animation: rotate 30s linear infinite;
  /* Applied the rotate animation to all layers */
}

.layer-4 {
  background:
    repeating-conic-gradient(from 355deg at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 198, 69, 0.26) 2.86%, rgba(69, 168, 255, 0) 5.88%, rgba(69, 168, 255, 0) 5.88%) 0% 0% / 100% 100% no-repeat;
  animation: rotate 30s linear infinite;
  /* Applied the rotate animation to all layers */
}

.layer-5 {
  background:
    repeating-conic-gradient(from 0deg at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 198, 69, 0.26) 6.62%, rgba(69, 168, 255, 0) 7.69%, rgba(69, 168, 255, 0) 7.69%) 0% 0% / 100% 100% no-repeat;
  animation: rotate 30s linear infinite;
  /* Applied the rotate animation to all layers */
}

.layer-6 {
  background:
    radial-gradient(ellipse at 50% 50%, rgba(255, 248, 176, 0.27) 0%, rgba(69, 168, 255, 0) 63.54%) 67% 39.3% / 10% 10% no-repeat,
    radial-gradient(ellipse at 50% 50%, rgba(69, 168, 255, 0) 40.28%, rgba(255, 183, 163, 0.05) 52.43%, rgba(69, 168, 255, 0) 63.54%) 68% 38.6% / 15% 15% no-repeat,
    radial-gradient(ellipse at 50% 50%, rgba(255, 248, 176, 0.55) 0%, rgba(69, 168, 255, 0) 63.54%) 66.9% 39.3% / 5% 5% no-repeat,
    radial-gradient(ellipse at 50% 50%, rgba(255, 248, 176, 0.2) 0%, rgba(69, 168, 255, 0) 66.67%) 70.7% 36.5% / 30% 30% no-repeat,
    radial-gradient(ellipse at 50% 50%, #09090b 26%, rgba(69, 168, 255, 0) 26.4%) 0% 0% / 100% 100% no-repeat,
    radial-gradient(ellipse at 50% 50%, rgba(255, 212, 148, 0.04) 0%, rgba(69, 168, 255, 0) 69.79%) 0% 0% / 100% 100% no-repeat,
    radial-gradient(ellipse at 50% 50%, rgba(255, 240, 148, 0.11) 0%, rgba(69, 168, 255, 0) 52.43%) 0% 0% / 100% 100% no-repeat,
    radial-gradient(ellipse at 51% 49%, rgba(69, 168, 255, 0) 23.96%, #000000 40.63%) 0% 0% / 100% 100% no-repeat,
    repeating-conic-gradient(from 0deg at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 239, 69, 0.14) 11.04%, rgba(69, 168, 255, 0) 20%, rgba(69, 168, 255, 0) 20%) 0% 0% / 100% 100% no-repeat,
    radial-gradient(ellipse at 52% 48%, rgba(69, 168, 255, 0) 23.96%, #09090b 34.03%) 0% 0% / 100% 100% no-repeat,
    radial-gradient(ellipse at 50% 50%, rgba(255, 185, 147, 0.29) 28%, rgba(69, 168, 255, 0) 30%) 0% 0% / 100% 100% no-repeat;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}


body {
  height: auto;
  background-color: black;
  margin: 0;
  padding: 0;
  color: white;
  font-family: Arial, sans-serif;
  overflow-y: scroll;
}

.container {
  position: relative;
  width: 100%;
  height: auto;
}

.celestial-body {
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.8);
}

.distance-meter {
  display: none;
  position: fixed;
  left: 10px;
  top: calc(50% + 10px);
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
}

.fact-container {
  /* Add fixed width */
  width: 300px;
  display: none;
  flex-direction: column;
  position: fixed;
  right: 10px;
  top: calc(50% + 10px);
  background-color: rgba(128, 128, 128, 0.7);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  z-index: 1000;
  border: 2px solid rgba(225, 225, 225, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fact-wrapper {
  padding: 15px; //* Add padding on all sides */
  width: 200px;
  height: auto;
  position: relative;
  background-color: transparent;
  border-radius: 10px;
  /* Add border radius to round the corners */
  flex-direction: column;
  font-size: 15px;
  justify-content: space-evenly;
}

.fact-container .arrow {
  position: absolute;
  font-size: 24px;
  cursor: pointer;
  color: white;
  z-index: 1000;
  padding: 7px;
  top: 80%;
  /* Center vertically */
  transform: translateY(-50%);
  /* Center vertically */
}

.left-arrow {
  left: 4px;
  top: 50%;
  /* Position at 50% from the top */
  transform: translateY(-50%);
  /* Center vertically */
}

.right-arrow {
  right: 4px;
  top: 50%;
  /* Position at 50% from the top */
  transform: translateY(-50%);
  /* Center vertically */
}

.left-arrow:hover,
.right-arrow:hover {
  color: #595959;
}

.close-button {
  position: absolute;
  top: 5px;
  /* Adjust top position as needed */
  right: 10px;
  /* Adjust right position as needed */
  cursor: pointer;
  color: white;
  font-size: 20px;
  z-index: 1001;
  /* Ensure it's above the fact container */
}

.close-button:hover {
  color: gray;
  /* Change color on hover */
}

.fact-container .name {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bold;
}

.fact-container p {
  margin: 5px 0;
}

.marker-line {
  display: none;
  /* Initially hide the marker line */
  position: fixed;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: red;
  z-index: 999;
}

/* Add a class to show the marker line when visualization is active */
.show-marker .marker-line {
  display: block;
}

.celestial-body .name {
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  color: white;
  font-size: 20px;
  z-index: 2001;
}

.astronaut {
  display: none;
  /* Initially hide the astronaut */
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
  left: 20px;
  top: calc(50% - 60px);
}

.astronaut-fact {
  position: fixed;
  width: auto;
  max-width: 200px;
  padding: 10px;
  color: gray;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* Adjust position relative to the astronaut */
  left: 80px;
  /* Position to the right of the astronaut */
  top: calc(50% - 185px);
  /* Position slightly above the center */
}

.astronaut-fact::after {
  content: '';
  position: absolute;
  bottom: -20px;
  /* Shift the arrow to the bottom */
  left: -20px;
  /* Shift the arrow to the left */
  border-width: 10px;
  border-style: solid;
  border-color: transparent rgba(255, 255, 255, 0.9) transparent transparent;
  /* Arrow color */
  transform: rotate(-45deg);
  /* Rotate the arrow */
}

.close-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 20px;
  color: #999;
}

.close-icon:hover {
  color: #666666;
  /* Change color on hover */
}
